.img{
    animation: carousel 12s infinite;
    /* transition: all .5s ease; */
    }
    @keyframes carousel{
    0%{
    opacity: 0;
    }
    25%{
    opacity: 1;
    }
    50%{
    opacity: 1;
    }
    100%{
    opacity: 0.5;
    }
    }
.link-box{
    opacity: 0;
    transition: all .5s ease;
}
.link-box:hover{
    opacity: 1;
}
.fade{
    opacity:1;
    transition: all .5s ease
}
.fade{
    opacity: 0;
}