.article{
    transform: scale(1);
    transition: all 1s ease;
}
.article:hover{
    transform: scale(0.97);
    color: blue;
    /* border: 1px solid blue; */
    /* background-color: #eee; */
}
.front-bg{
background: url('../../assets/partner-logo/sec.png');
background-size: cover;
}