.header-1{
    background: url('../../assets/images-1.jpeg');
    background-size: 100% 100%;
}
.header-2{
    background: url('../../assets/images-3.jpeg');
    background-size: 100% 100%;
}
.header-3{
    background: url('../../assets/images-6.jpeg');
    background-size: 100% 100%;
}