.arrow-right{
    animation: move-right 2s infinite;
}
@keyframes move-right{
    0%{
        transform: translateX(0);
    }
    50%{
        transform: translateX(4px);
    }
    75%{
        transform: translateX(2px);
    }
    100%{
        transform: translateX(0);
    }
}